body {
    margin: auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: palegreen;
}

.header {
    text-align: center;
    background: mediumturquoise;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}

.content {
    background: white;
    padding-bottom: 3em;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    min-height: 15em;
    border-radius: .5em;
} 

#sort_drop_down {
    display: block;
    float: right;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 1em 1.5em;
    background-color:mediumturquoise;
    color: black;
    border-radius: .5em;
    font-size: inherit;
    border: none;
}

.scroll {
    width: 400px;
    max-height: 400px;
    padding-left: 5px;
    overflow-y: scroll;
}

.scroll_sort {
    width: 400px;
    max-height: 400px;
    padding: 5px;
    overflow-y: scroll;
}

.scroll_review {
    width: 400px;
    max-height: 400px;
    padding: 0px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }

#new_drop_down {
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0.25em 0.5em;
    background-color:mediumturquoise;
    color: black;
    border-radius: .5em;
    font-size: small;
    border: none;
}

a:link, a:visited  {
    color: black;
    text-decoration: none;
}

a:hover  {
    color: black;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    padding-left: 10px;
    margin-top: 0em;
    margin-bottom: 0em;
}

#favorite {
    display: block;
    float: right;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
    padding: 0.5em 1em;
    background-color:mediumturquoise;
    color: black;
    border-radius: .5em;
    border: none;
}

#remove_restaurant  {
    display: block;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
    padding: 0.5em 1em;
    background-color:red;
    color: black;
    border-radius: .5em;
    border: none;
}

#remove_user  {
    display: block;
    float: right;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
    padding: 0.5em 1em;
    background-color:red;
    color: black;
    border-radius: .5em;
    border: none;
}

#new_restaurant {
    display: inline-block;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
    padding: 0.5em 1em;
    background-color:mediumturquoise;
    color: black;
    border-radius: .5em;
    border: none;
}


#home_page_button {
    display: inline-block;
    margin-top: 3em;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 1em 1.5em;
    background-color:white;
    color: black;
    border-radius: .5em;
}

#login {
    display: inline-block;
    margin-top: 0em;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0.2em 0.5em;
    background-color:mediumturquoise;
    color: black;
    border-radius: .5em;
    border: none;
}

#other_buttons {
    display: inline-block;
    margin-top: 0em;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0.5em 1em;
    font-size:medium;
    background-color:mediumturquoise;
    color: black;
    border-radius: .5em;
    border: none;
}

#remove_review_button {
    display: block;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: medium;
    padding: 0.2em 0.5em;
    background-color:white;
    color: black;
    border-radius: .5em;
    border: 1px solid red;  
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}