{% extends "layout.html" %}
{% block content %}
{% if session.is_admin == True %}
<h3>Add a new restaurant</h3>
<form action="/new_restaurant" method="POST">
Name: <input type="text" name="name"> <br>
<p>
Address: <input type="text" name="address"> <br>
<p>
Price range:
<select id="new_drop_down" name="price_range">
        <option value="none" selected hidden >Select
        <option value="1">€</option>
        <option value="2">€€</option>
        <option value="3">€€€</option>
</select><br>
<p>
Category:
<select id="new_drop_down" name="category">
        <option value="none" selected hidden >Select
        <option value="vegan">vegan</option>
        <option value="sushi">sushi</option>
        <option value="poke">poke</option>
        <option value="hamburger">hamburger</option>
        <option value="dumplings">dumplings</option>
        <option value="steak">steak</option>
        <option value="pizza">pizza</option>
        <option value="cafe">cafe</option>
        <option value="fast food">fast food</option>
        <option value="fine dining">fine dining</option>
        <option value="nepalese">nepalese</option>
        <option value="vietnamese">vietnamese</option>
        <option value="indian">indian</option>
        <option value="chinese">chinese</option>
        <option value="ethiopian">ethiopian</option>
        <option value="mexican">mexican</option>
        <option value="italian">italian</option>
</select><br>
<p>
Description: <br>
<p>
<textarea name="description" rows="4" cols="40">
</textarea> <br>
<p>
Opening Hours:
<p>
<table style="width:470px;">
<tr><td>Monday </td><td> <input type="time" name="open_1">  - <input type="time" name="close_1">
        <input type="radio" name="status_1" value="o" checked>Open <input type="radio" name="status_1" value="c">Closed </td></tr>
<tr><td>Tuesday </td><td> <input type="time" name="open_2"> - <input type="time" name="close_2">
         <input type="radio" name="status_2" value="o" checked>Open <input type="radio" name="status_2" value="c">Closed </td></tr>
<tr><td>Wednesday </td><td> <input type="time" name="open_3"> - <input type="time" name="close_3">
           <input type="radio" name="status_3" value="o" checked>Open <input type="radio" name="status_3" value="c">Closed </td></tr>
<tr><td>Thursday </td><td> <input type="time" name="open_4"> - <input type="time" name="close_4">
          <input type="radio" name="status_4" value="o" checked>Open <input type="radio" name="status_4" value="c">Closed </td></tr>
<tr><td>Friday </td><td> <input type="time" name="open_5"> - <input type="time" name="close_5">
        <input type="radio" name="status_5" value="o" checked>Open <input type="radio" name="status_5" value="c">Closed </td></tr>
<tr><td>Saturday </td><td> <input type="time" name="open_6"> - <input type="time" name="close_6">
          <input type="radio" name="status_6" value="o" checked>Open <input type="radio" name="status_6" value="c">Closed </td></tr>
<tr><td>Sunday </td><td> <input type="time" name="open_7"> - <input type="time" name="close_7">
        <input type="radio" name="status_7" value="o" checked>Open <input type="radio" name="status_7" value="c">Closed </td></tr>
</table>
<p>
<input id="new_restaurant" type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}