<h1>Ravintolat</h1>
{% if session.is_admin == True %}
<h3>Add a new restaurant</h3>
<form action="/new_restaurant" method="POST">
Name: <input type="text" name="name"> <br>
<p>
Address: <input type="text" name="address"> <br>
<p>
Price range:
<select name="price_range">
    <option value="€">€</option>
    <option value="€€">€€</option>
    <option value="€€€">€€€</option>
</select><br>
<p>
Category:
<select name="category">
    <option value="vegan">vegan</option>
    <option value="sushi">sushi</option>
    <option value="poke">poke</option>
    <option value="hamburger">hamburger</option>
    <option value="dumplings">dumplings</option>
    <option value="steak">steak</option>
    <option value="pizza">pizza</option>
    <option value="cafe">cafe</option>
    <option value="fast food">fast food</option>
    <option value="fine dining">fine dining</option>
    <option value="nepalese">nepalese</option>
    <option value="vietnamese">vietnamese</option>
    <option value="indian">indian</option>
    <option value="chinese">chinese</option>
    <option value="ethiopian">ethiopian</option>
    <option value="mexican">mexican</option>
    <option value="italian">italian</option>
</select><br>
<p>
Description: <br>
<p>
<textarea name="description" rows="4" cols="40">
</textarea> <br>
<p>
Opening Hours:
<p>
Monday: <input type="time" name="open_1" value="00:00">  - <input type="time" name="close_1" value="00:00">
</p>
Tuesday: <input type="time" name="open_2" value="00:00"> - <input type="time" name="close_2" value="00:00">
<p>
Wednesday: <input type="time" name="open_3" value="00:00"> - <input type="time" name="close_3" value="00:00">
</p>
Thursday: <input type="time" name="open_4" value="00:00"> - <input type="time" name="close_4" value="00:00">
<p>
Friday: <input type="time" name="open_5" value="00:00"> - <input type="time" name="close_5" value="00:00">
</p>
Saturday: <input type="time" name="open_6" value="00:00"> - <input type="time" name="close_6" value="00:00">
<p>
Sunday: <input type="time" name="open_7" value="00:00"> - <input type="time" name="close_7" value="00:00">
</p>
<input type="submit" value="Submit">
<p>
<a href="/home_page">Back</a>
</p>
</form>
{% endif %}