{% extends "layout.html" %}
{% block content %}
<h2>Add review</h2>
<form action="/review/{{ restaurant_id }}" method="POST">
<p>
Rate {{ name }} by giving 1-5 stars: 
<select id="new_drop_down" name="rating">
    <option value="none" selected hidden >Select
    <option value= "1">1</option> 
    <option value= "2">2</option>
    <option value= "3">3</option>
    <option value= "4">4</option>
    <option value= "5">5</option>
</select><br>
<p>
Comment (<i>optional</i>):<br>
<textarea name="comment" rows="6" cols="35"></textarea>
<p>
<input id="other_buttons" type="submit" value="Add">
</form>
<br>
<br>
<a id="other_buttons" href="/restaurant/{{ restaurant_id }}">Back to restaurants page</a>
{% endblock %}